body {
  font-size: 62.5%;
  font-family: 'Playfair Display', serif;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1367px;
  /* max-height: 728px; */
  height: 100vh;
  margin: 0 auto;
}

h1, h2, p {
  margin: 0;
}

main {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  /* height: 10%; */
}

.top-content {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 64%;
  margin: 20.7em 26.1em 7.3em 22.9em;
}

.top-content .left-col {
  font-size: 6em;
  font-weight: normal;
  line-height: 115.3%;
/*   flex: 1 1 50%; */
  margin-right: 80px;
}

.top-content .right-col {
  font-size: 2em;
  font-family: 'Inter', sans-serif;
  font-weight: lighter;
  line-height: 144.3%;
  flex: 1 1 80%;
}

.mid-content {
  width: 100%;
  /* width: 100vw; */
}

.bottom-content {
  width: 64%;
  margin: 7.1em 26.1em 7.3em 22.9em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* margin: 7.1em 0em 19em 22.9em; */
}

.bottom-content .cta {
  margin-right: 1.8em;
  font-size: 3.2em;
  line-height: 115.3%;
  font-weight: normal;
}

.bottom-content .cta-arrow {
  width: 4.4em;
}

@media only screen and (max-width: 580px) {
  body {
    scale: 0.55;
  }
}